[package]
name = "wgpu-3d-engine"
version = "0.0.0"
edition = "2024"

[profile.release]
strip = true

[dependencies]
anyhow = "1.0"
env_logger = "0.10"
log = "0.4"
pollster = "0.3"
wgpu = "27.0.0"
winit = { version = "0.30", features = ["android-native-activity"] }
